/* -----------------------------------------------------------------------------
 * VARIABLES
 * -----------------------------------------------------------------------------
 * Aqui sólamente se colocaran las vaiables de CSS, no las de SASS. Estas
 * últimas van en el archivo foundations.
 */

:root {
  // Primary
  --color-primary-hue: 218;
  --color-primary-saturation: 72%;
  --color-primary-lumnosity: 56%;
}
