/* -----------------------------------------------------------------------------
 * PRICE
 */

.c-price {
  --c-price-color: var(--color-primary);
  --c-price-before-font-size: var(--font-size-m);
  --c-price-value-font-size: var(--font-size-l);
  --c-price-value-font-weight: var(--font-weight-bold);
  --c-price-text-font-size: var(--font-size-xl);

  color: var(--c-price-color);

  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 4px;
    align-items: baseline;
  }

  &__before {
    text-decoration: line-through;
    font-size: var(--c-price-before-font-size);
  }

  &__value {
    font-weight: var(--c-price-value-font-weight);
    font-size: var(--c-price-value-font-size);
  }

  &__text {
    font-size: var(--c-price-text-font-size);
  }
}
