/* -----------------------------------------------------------------------------
 * LAZY
 */

.c-lazy {
  --c-lazy-icon-loading: url("data:image/svg+xml,%0A%3Csvg width='41px' height='32px' viewBox='0 0 41 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='picture' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M39.6521739,0 L0.695652174,0 C0.311652174,0 0,0.310956522 0,0.695652174 L0,31.3043478 C0,31.6890435 0.311652174,32 0.695652174,32 L39.6521739,32 C40.0361739,32 40.3478261,31.6890435 40.3478261,31.3043478 L40.3478261,0.695652174 C40.3478261,0.310956522 40.0361739,0 39.6521739,0 Z M38.9565217,30.6086957 L1.39130435,30.6086957 L1.39130435,1.39130435 L38.9565217,1.39130435 L38.9565217,30.6086957 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M11.1304348,15.4003478 C13.2667826,15.4003478 15.0045217,13.6626087 15.0045217,11.5269565 C15.0045217,9.38991304 13.2667826,7.65217391 11.1304348,7.65217391 C8.99408696,7.65217391 7.25634783,9.38991304 7.25634783,11.5262609 C7.25634783,13.6626087 8.99408696,15.4003478 11.1304348,15.4003478 Z M11.1304348,9.04347826 C12.4994783,9.04347826 13.6132174,10.157913 13.6132174,11.5262609 C13.6132174,12.8946087 12.4994783,14.0090435 11.1304348,14.0090435 C9.7613913,14.0090435 8.64765217,12.8953043 8.64765217,11.5269565 C8.64765217,10.1586087 9.7613913,9.04347826 11.1304348,9.04347826 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M4.86956522,27.826087 C5.03234783,27.826087 5.19652174,27.7690435 5.32869565,27.6528696 L16.6768696,17.661913 L23.8434783,24.8278261 C24.1154783,25.0998261 24.5551304,25.0998261 24.8271304,24.8278261 C25.0991304,24.5558261 25.0991304,24.1161739 24.8271304,23.8441739 L21.4831304,20.5001739 L27.869913,13.506087 L35.7036522,20.6873043 C35.9867826,20.9467826 36.4271304,20.9273043 36.6866087,20.6441739 C36.946087,20.3610435 36.9273043,19.9206957 36.6434783,19.6612174 L28.2956522,12.0090435 C28.1593043,11.8845217 27.9777391,11.8226087 27.7947826,11.8267826 C27.6104348,11.8351304 27.4365217,11.9165217 27.312,12.0528696 L20.4987826,19.5151304 L17.1993043,16.2156522 C16.9391304,15.9561739 16.5231304,15.9429565 16.2476522,16.1850435 L4.40973913,26.608 C4.12104348,26.861913 4.09321739,27.3015652 4.34713043,27.5902609 C4.48486957,27.7467826 4.67686957,27.826087 4.86956522,27.826087 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  &__inner {
    position: relative;
    background-color: var(--color-shade-100);
    color: var(--color-shade-600);

    &::before {
      content: var(--c-lazy-icon-loading);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0.3;
    }
  }

  &__picture {
    position: relative;
    z-index: 2;
  }
}
